* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./coco.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.menu {
  background: rgb(42, 136, 5);
  text-align: center;
}
.menu ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu ul li {
  width: 150px;
  margin: 10px;
  padding: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-variant: small-caps;
  font-weight: bold;
}

.active,
.menu ul li:hover {
  background: rgb(71, 240, 85);
  border-radius: 5px;
}
.menu .fa {
  margin-right: 8px;
}

.sub-menu-1 {
  display: none;
}

.menu ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(42, 136, 5);
  margin-top: 15px;
  margin-left: -15px;
}
.menu ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 5px;
}
.menu ul li:hover .sub-menu-1 ul li {
  width: 150;
  padding: 10px;
  background: transparent;
  border-bottom: 1px dotted #fff;
  border-radius: 0;
  text-align: left;
}
.menu ul li:hover .sub-menu-1 ul li a:last-child {
  border-bottom: none;
}
.menu ul li:hover .sub-menu-1 ul li a:hover {
  color: greenyellow;
}
.fa-angle-right {
  float: right;
}
