* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./coco.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.menu {
  background: rgb(175, 253, 249);
  text-align: center;
}
.menu ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu ul li {
  width: 120;
  margin: 15px;
  padding: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  padding: 10px;
}

.active,
.menu ul li :hover {
  background: rgb(173, 218, 218);
  border-radius: 3px;
}
.menu .fa {
  margin-right: 8px;
}
.sub-menu-1 {
  display: none;
}
.menu ul li :hover .sub-menu-1 {
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: -15px;
  background: rgb(18, 145, 219);
}
.menu ul li :hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}
.menu ul li :hover .sub-menu-1 ul li {
  width: 150;
  padding: 10px;
  border-bottom: 1px solid #fff;
  background: transparent;
  text-align: left;
}
